.SlideLineHolder { width: 100%; position: relative; overflow: hidden; }
	[data-behavior='SlideLine'] { width: 30000px; }
		[data-behavior='SlideLine'] > * { float: left; }
		[data-behavior='SlideLine'] > *:first-child { margin-left: 0; }