[data-behavior~='Slide'] { position: relative; overflow: hidden; }
	[data-behavior~='Slide'] > * { position: absolute; display: none; z-index: 0; max-width: none; }
	[data-behavior~='Slide'] > div { width: 100%; height: 100%; }